body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: white;
    font-weight: bold;
    background-color: #324A6C;
}

header{
    border-top:solid 2px;
    border-bottom:solid 2px;
    padding: 20px;
    text-align: center;
    font-size: 32px;
    margin: 30px;
}

.contents{
    padding: 20px;
    border: solid 2px;
    margin-right: 30px;
    margin-left: 30px;
    background-color: #546078;
    height: 200px;
}